<div class="welc-nav">
  <%= @category_name %>
</div>
<div class="welc-descr"></div>
<hr class="hor-line-welc">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <% @sub_categories.each do |sub_category| %>
      <h4>
        <% case sub_category[0][2]%>
          <% when true %>
            <%= link_to sub_category[0][0],
                        electronics_index_path(category_id: sub_category[0][1], page_number: 1),
                        class: 'main-category' %>
          <% when false %>
            <%= link_to sub_category[0][0],
                        clothes_index_path(category_id: sub_category[0][1], page_number: 1),
                        class: 'main-category' %>
          <% when nil %>
            <%= link_to sub_category[0][0],
                        category_show_path(category_id: sub_category[0][1]),
                        class: 'main-category category-show' %>
        <% end %>
      </h4>
      <% if !sub_category[1].empty? %>
        <% sub_category[1].each do |sub_sub_category| %>
          <% case sub_category[0][2]%>
            <% when true %>
              <%= link_to sub_sub_category[0],
                          electronics_index_path(category_id: sub_sub_category[1], page_number: 1) %>
            <% when false %>
              <%= link_to sub_sub_category[0],
                          clothes_index_path(category_id: sub_sub_category[1], page_number: 1) %>
            <% when nil %>
              <%= link_to sub_sub_category[0],
                          category_show_path(category_name: sub_sub_category[0],
                                             category_id: sub_sub_category[1]),
                          class: 'category-show' %>
          <% end %>
          </br>
        <% end %>
        <% if sub_category[2] %>
          <span class="all-list">
            <% sub_category[2].each do |more_sub_sub_category| %>
              <% case sub_category[0][2]%>
                <% when true %>
                  <%= link_to more_sub_sub_category[0],
                          electronics_index_path(category_id: more_sub_sub_category[1], page_number: 1) %>
                <% when false %>
                  <%= link_to more_sub_sub_category[0],
                          clothes_index_path(category_id: more_sub_sub_category[1], page_number: 1) %>
                <% when nil %>
                  <%= link_to more_sub_sub_category[0],
                          category_show_path(category_name: more_sub_sub_category[0],
                                             category_id: more_sub_sub_category[1]),
                          class: 'category-show' %>
              <% end %>
              </br>
            <% end %>
          </span>
          <span>
            <%= link_to "Ещё v", "#", class: "all-link" %>
          </span>
        <% end %>
        </br>
      <% end %>
      <hr>
    <% end %>
  </div>

</div>

