<div class="welc-nav">
  <%= link_to 'Витрина', root_path %><span class="tab-welc-nav"></span>
  <%= link_to 'Каталог', catalog_index_path %></br>
</div>
<div class="welc-descr">
  <span>Новинки, скидки, рекомендации</span><span class="tab-welc-descr"></span>
  <span>Более 1500 категорий товаров</span>
</div>
<hr class="hor-line-welc">