<div class="row">
  <% @products.each do |product| %>
    <div class="col-md-3">
      <span>
        <% photo = @photos.find{ |photo| photo.product_id == product.id }.url %>
        <% if photo %>
            <%= image_tag(photo) %>
        <% else %>
            <%= image_tag("camera-no-image.jpg") %>
        <% end %>
      </span></br>
      <span><%= product.name %></span></br>
      <span>
        <% attributes = @attributes_values.find_all{ |attr| attr.product_id == product.id } %>
        <% attributes.each do |attr| %>
            <%= attr.value %>
        <% end %>
      </span></br>
      <span><%= @supply.find{ |photo| photo.product_id == product.id }.price %></span></br></br>
    </div>
  <% end %>
</div>
</br>
<span>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</span>