</br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-2">
        <%= render 'menu' %>
      </div>
      <div class="col-md-10 sort_paginate_ajax" >
        <%= render 'clothes' %>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
