<%= render 'welcome/welcome_nav' %>

<div class="row">
  <div class="col-md-2"></div>
    <% i = -1 %>
    <!--3.times do -->
      <% 4.times do %>
        <% i += 1 %>
        <div class="col-md-2">
          <h4>
            <%= link_to @categories_catalog[i][0][0],
                          category_show_path(category_name: @categories_catalog[i][0][0],
                                               category_id: @categories_catalog[i][0][1]),
                          class: 'main-category' %>
          </h4>
          <% @categories_catalog[i][1].each do |sub_category| %>
            <%= link_to sub_category[0], category_show_path(category_name: sub_category[0],
                                                              category_id: sub_category[1]) %>
            <span>*</span>
          <% end %>
          <div class="all-link">
            <%= link_to "Вся/все #{@categories_catalog[i][0][0]} >",
                          category_show_path(category_category: @categories_catalog[i][0][0],
                                                   category_id: @categories_catalog[i][0][1]),
                          class: 'all-link' %>
          </div>
        </div>
      <% end %>
    <!--end -->
  <div class="col-md-2"></div>
</div>

