// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "catalog";
@import "category";

.hor-line-top {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
  position: fixed;
  top: 138px;
  background-color: #ffe066;//#ffe680;
  text-align:center;
}
.dropdown-menu li {
  display:inline-block;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
  display: block;
  left: 0;
  line-height: 110px;
}

.welc-nav {
  font-size: 30px;
  padding-left: 315px;
}
.welc-nav a:hover,
.welc-nav a:focus {
  text-decoration: none;
  color: red;
}
//.welc-nav .active a,
//.welc-nav .active a:hover,
//.welc-nav .active a:focus {
//  color: black;
//}
.tab-welc-nav {
  padding: 70px;
}
.welc-descr {
  padding-left: 315px;
}
.tab-welc-descr {
  padding: 28px;
}
.hor-line-welc {
  color: #ffe066;
  background-color: #ffe066;
  height: 2px;
  padding-left: 20px;
  width: 65%;
}

