<!-- Fixed navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!-- The mobile navbar-toggle button can be safely removed since you do not need it in a non-responsive implementation -->
      <%= link_to 'Яндекс', root_path, class: 'navbar-brand' %>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Найти</button>
    </form>
    <div class="navbar-right">
      <%= link_to 'Мой маркет', root_path, class: 'btn btn-default' %>
      <%= link_to '', root_path, class: 'glyphicon glyphicon-th' %>
      <%= link_to 'Войти', root_path, class: 'btn btn-default' %>
    </div>
  </div>
  <hr class="hor-line-top">
  <div class="container">

    <!-- Note that the .navbar-collapse and .collapse classes have been removed from the #navbar -->
    <div id="navbar">
      <ul class="nav navbar-nav dropdown">
        <% @categories_top.each do |category| %>
            <li class="dropdown-top">
              <%= link_to category[0][0],
                          category_show_path(category_name: category[0][0],
                                               category_id: category[0][1]),
                          class: 'dropdown-toggle',
                          'data-toggle' => 'dropdown',
                          role: 'button',
                          'aria-haspopup' => true,
                          'aria-expanded' => false  %>
              <ul class="dropdown-menu dropdown-inside">
                <% category[1].each do |sub_category| %>
                  <li>
                    <%= link_to sub_category[0],
                                category_show_path(category_name: sub_category[0],
                                                     category_id: sub_category[1]) %>
                  </li>
                <% end %>
              </ul>
            </li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
