<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>YandexMarket</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/top_navigation' %>


  <%= yield %>

</body>
</html>
